<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="a05.markf00.ispam.magical_8_ball">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
